@use "sass:math";
@use "sass:map";

.search-result {
  &__content {
    &--desktop {
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 99;
      background: $white;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      padding-top: $search-input-height;
    }
  }

  &__bottom {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    border-top: 1px solid $border-color;
    background: $white;

    &--offcanvas {
      padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    }
  }
}
